.CartPage__totalCartPriceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 2rem;
  font-weight: 600;
  /* margin: 2rem auto; */
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.CartPage__checkoutBtn {
  padding: 1rem 8rem;
}

@media only screen and (max-width: 480px) {
  .CartPage__checkoutBtn {
    padding: 0.8rem 4rem;
  }
}

