.productPage__wrapper {
  width: 90%;
  height: 95vh;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.productPage__image {
  width: 30%;
  height: 80%;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  transition: all 0.3s ease-in-out;
}

.ProductPage__rightContainer {
  width: 50%;
}

.productPage__name {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 8px;
}

.productPage__description {
  font-size: 1.2rem;
  margin-bottom: 32px;
}
.productPage__offerWrapper {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
}

.productPage__offer {
  font-size: 1rem;
  margin: 16px 8px;
  margin-left: 0;
  padding: 4px 8px;
  background: var(--light-grey-clr);
  display: block;
  border-radius: 6px;
  font-size: 0.7rem;
}

.ProductPage__button--primary {
  background: var(--light-blue-clr);
  border: none;
  outline: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

.ProductPage__button--primary:hover {
  background: var(--bright-light-blue-clr);
}

@media (max-width: 768px) {
  .productPage__wrapper {
    flex-direction: column;
  }
  .productPage__image {
    width: 100%;
    height: 50%;
  }
  .ProductPage__rightContainer {
    width: 100%;
  }
  .productPage__description {
    margin-bottom: 0;
  }
}
