.productPage__wrapper {
  width: 90%;
  height: 95vh;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  margin-top: 6%;
  text-align: left;
}

.productPage__image {
  width: 30%;
  height: 80%;
  object-fit: contain;
  border-radius: 16px;
  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px; */
  transition: all 0.3s ease-in-out;
  padding: 16px;
}

.ProductPage__rightContainer {
  width: 50%;
}

.productPage__name {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 8px;
}

.productPage__price {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 16px auto;
}
.productPage__offerWrapper {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
}

.productPage__offer {
  font-size: 1rem;
  margin: 16px 8px;
  margin-left: 0;
  padding: 4px 8px;
  background: var(--light-grey-clr);
  display: block;
  border-radius: 6px;
  font-size: 0.7rem;
}

.ProductPage__button--primary {
  background: var(--light-blue-clr);
  border: none;
  outline: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

.ProductPage__button--primary:hover {
  background: var(--bright-light-blue-clr);
}

@media only screen and (max-width: 768px) {
  .productPage__wrapper {
    flex-direction: column;
    height: auto;
  }
  .productPage__image {
    width: 100%;
    height: 50%;
  }
  .ProductPage__rightContainer {
    width: 100%;
  }
  .productPage__description {
    margin-bottom: 0;
  }
  .productPage__name {
    margin-top: 16px;
  }
}

.ProductPage__aboutLi {
  margin: 8px auto;
}
